.signature-label{
  font-family: ProximaNova-Bold;
font-size: 14px;
color: #3E3E3E;
letter-spacing: 0;
line-height: 24px;
margin-left:10px;
}
.signature-app{
  border: 1px solid #D0D0CE;
  border-radius: 4px;
  max-width:425px;
  min-height:125px;
  height:auto;
  overflow:hidden;
}

.m-signature-pad--body canvas {
  left: 0 !important;
  width: 100% !important;
  box-shadow: none !important;
}

.m-signature-pad {
  font-size: 10px;
  max-width: 420px;
  margin-top:20px;
  margin-left:5px;
  margin-right:5px;
  height:80px;
  /* border: 1px solid #e8e8e8; */
  background-color: #fff;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  border-bottom: 1px solid #979797;
}

.m-signature-pad--body {
  position: absolute;
  left: 5px;
  right: 5px;
  top: 10px;
  bottom: 24px;
  max-width:420px;
}

.m-signature-pad--body
  canvas {
    position: absolute;
    left: 10px;
    top: 0;
    width: 400px;
    height: 95px;
    border-radius: 4px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.02) inset;
  }

.m-signature-pad--footer {
  position: absolute;
  left: 10px;
  right: 10px;
  bottom: 10px;
  height: 0px;
}

.m-signature-pad--footer
  .description {
    color: #C3C3C3;
    text-align: center;
    font-size: 1.2em;
    margin-top: 1.8em;
  }

.m-signature-pad--footer
  .button {
    position: absolute;
    bottom: 0;
  }

.m-signature-pad--footer
  .button.clear {
  margin-bottom:-10px;
  bottom:0;
  right: 0;
  background-color:inherit;
  margin-top:5px;
  padding:2px;
  font-size:10px;
  font-family: ProximaNovaT-Thin;
  color: #3E3E3E;
  }

.m-signature-pad--footer
  .button.save {
    right: 0;
  }

/* @media screen and (max-width: 1024px) {
  .m-signature-pad {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: auto;
    height: auto;
    min-width: 250px;
    min-height: 140px;
    margin: 5%;
  }
  #github {
    display: none;
  }
} */

/* @media screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .m-signature-pad {
    margin: 10%;
  }
}

@media screen and (max-height: 320px) {
  .m-signature-pad--body {
    left: 0;
    right: 0;
    top: 0;
    bottom: 32px;
  }
  .m-signature-pad--footer {
    left: 20px;
    right: 20px;
    bottom: 4px;
    height: 28px;
  }
  .m-signature-pad--footer
    .description {
      font-size: 1em;
      margin-top: 1em;
    }
} */
